<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{fragments/navigation :: navigation}"></header>
    <img src="/images/greenfox.png"/>
    <p th:text="'This is ' + ${foxName} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows ' + ${numberOfTricks} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <ul th:each="trick : ${learntTricks}">
        <li th:text="${trick.trickName}"></li>
    </ul>
</body>
</html>